@charset "utf-8";
/* usefulArea 영역 시작 */
#usefulArea {
    width: 270px;
    margin-right: 30px;
}
/* 로그인 영역 */
.login {
    background-image: radial-gradient(circle at top right, #ffc848, #ff8208);
    border-radius: 5px;
    padding: 10px;
    box-shadow: -1px -1px 5px rgba(0,0,0,0.2);
}
.login>h2 {
    color: #feff9a;
    font-size: 1.2em;
    padding: 0 0 10px 10px;
}
.login form {
    background-color: #fff;
    position: relative;
    border-radius: 3px 3px 0 0;
    padding: 10px 10px 0 10px;
}
.login label {
    display: inline-block;
    width: 48px;
}
.login input {
    width: 110px;
    height: 18px;
    padding: 1px 1px 1px 4px;
    border: 1px solid #ccc;
}
#userId {
    margin-bottom: 6px;
}
.login button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    font-weight: bold;
    color: #fff;
    font-size: 0.9em;
    border: 1px solid #ff4e00;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #fe5f18 0%, #fa4306 100%);
}
.login fieldset {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.memberLink {
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    padding: 0 10px;  
    overflow: hidden;  
}
.memberLink a::before {
    font-family: "webcafeIcon";
    content: "g";
    color: #fa3d00;
    margin-right: 3px;
    position: relative;
    top: 2px;
}
.join {
    float: left;
    padding: 10px 0;
}
.find {
    float: right;
    padding: 10px 0;
}
/* 유효성 검사 영역 */
.validation {
    margin-top: 20px;
}
.validation li {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #fff 0, #ebebeb 100%);
}
.validation a {
    display: block;
    height: 30px;
    color: #9c9c9c;
    font-weight: bold;
    background: url(images/validation_icon.png) no-repeat 20px 5px;
    background-size: 20px 20px;
    line-height: 30px;
    text-indent: 45px;
}
/* 웹 관련 용어 영역 */
.term {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px 20px;
    background-image: linear-gradient(to bottom, #fff 0%, #f4f4f4 100%);
}
.term>h2 {
    font-size: 1.2em;
}
.term dl {
    margin-top: 15px;
    overflow: hidden;
}
.term dt {
    float: right;
    width: 130px;
    color: #296897;
    font-weight: bold;
    margin-bottom: 5px;
}
.term dd:nth-of-type(1) {
    float: left;
}
.term dd:nth-of-type(2) {
    float: right;
    width: 130px;
    line-height: 1.45;
    text-align: justify;
}
/* usefulArea 영역 종료 */
/* infoArea 영역 시작 */
#infoArea {
    width: 420px;
    margin-right: 30px;
}
/* 웹 카페 검색 영역 */
.search {
    background-image: linear-gradient(to bottom, #ddd 0%, #f8f8f8 50%, #fff 100%);
    border-radius: 15px 15px 0 0;
    padding: 10px 20px 0 20px;
}
.search label {
    padding: 2px 0 4px 2px;
    font-weight: bold;
    color: #999;
}
.search label::before {
    font-family: "webcafeIcon";
    content: "z";
    font-size: 1.5em;
    color: #7d7d7d;
    font-weight: normal;
    margin-right: 5px;
    position: relative;
    top: 5px;
}
#keyword {
    width: 240px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 5px;
}
.search button {
    padding: 3px 10px;
    background: linear-gradient(to bottom, #9c9da1 0%, #666 30%, #4e4f56 100%);
    color: #fff;
    border: 1px solid #949494;
    border-radius: 3px;
    font-weight: bold;
}
/* 공지사항 및 자료실 영역 */
.board {
    margin-top: 20px;
    height: 170px;
    position: relative;
}
.board section {
    position: relative;
}
.board section:target {
    z-index: 10;
}
.board section:target h2 a {
    color: #ff4911;
    background: #fff;
    border: 1px solid #ff6738;
    border-bottom: 1px solid #fff;
}
.board::before {
    content: "";
    position: absolute;
    left: 0;
    top: 27px;
    width: 362px;
    height: 1px;
    background:linear-gradient(to right, #e3e3e3 0%, #fff 100%);
}
.board h2 {
    float: left;
    font-size: 1em;
}
.board h2 a {
    display: inline-block;
    padding: 6px 15px;
    color: #7a7a7a;
    font-family: "NanumEX";
    border: 1px solid #c9c9c9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: linear-gradient(to bottom, #fcfcfc 0%, #eaeaea 100%);
}
.board ul {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #fff;
}
.board li {
    margin-bottom: 10px;
}
.board ul a {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.board ul a::before {
    font-family: "webcafeIcon";
    content: "r";
    color: #666;
    position: relative;
    top: 2px;
}
.board .more {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
}
.more::before {
    font-family: "webcafeIcon";
    content: "p";
    color: #00b745;
    margin-right: 3px;
    position: relative;
    top: 2px;
}
.board time {
    float: right;
    color: #7a7a7a;
}
/* 새소식 영역 */
.news {
    margin-top: 20px;
    position: relative;
}
.news::before {
    content: "";
    position: absolute;
    left: 0;
    top: 27px;
    width: 362px;
    height: 1px;
    background:linear-gradient(to right, #e3e3e3 0%, #fff 100%);
}
.news>h2 {
    font-size: 1.2em;
    color: #ff5a00;
}
.news .more {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
}
.news article {
    margin: 25px 0 0 130px;
}
.news article h3 {
    margin-bottom: 10px;
    font-size: 1.1em;
}
.news article h3::before {
    font-family: "webcafeIcon";
    content: "r";
    color: #666;
    position: relative;
    top: 2px;
}
.news figure {
    position: absolute;
    top: 45px;
    left: 0;
    text-align: center;
}
.news figure img {
    box-shadow: 0 10px 15px #eee;
    margin-bottom: 15px;
}
.news time {
    font-size: 0.9em;
    margin-left: 12px;
}
.news p {
    margin-top: 10px;
    margin-left: 12px;
    line-height: 1.8;
}
/* infoArea 영역 종료 */
/* linkArea 영역 시작 */
#linkArea {
    width: 210px;
    margin-right: 30px;
}
.eventrelatedArea {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #fff 0%, #f4f4f4 100%);
    padding: 10px 13px;
}
.eventrelatedArea h2 {
    font-size: 1.2em;
    padding-bottom: 10px;
}
.eventrelatedArea span {
    color: #ff3c00;
}
/* 신규이벤트 영역 */
.event {
    position: relative;
}
.event img {
    border: 1px solid #eee;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
.event p {
    padding: 10px 0;
    line-height: 1.4;
}
.event em {
    font-style: normal;
    display: block;
}
.btnEventArea {
    position: absolute;
    top: 0;
    right: 0;
}
.btnEventArea a {
    display: inline-block;
    width: 20px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 20px;
    background-image:url(images/back_forward.png);
    background-repeat: no-repeat;
}
.btnEventPrev {
    background-position: 0 0;
}
.btnEventNext {
    background-position: 100% 0;
}
/* 관련사이트 영역 */
.relatedLink h2 {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.relatedLink ul {
    height: 25px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: height 0.2s;
}
.relatedLink ul:hover {
    height: 125px;
    padding: 10px 0;
}
.relatedLink li {
    height: 25px;
    line-height: 25px;
    text-indent: 1.5em;
}
.relatedLink a {
    display: block;
}
.hotLink {
    margin-top: 20px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #fff 0%, #f4f4f4 100%);
    padding: 10px 12px 8px 10px;
}
.hotLink h2 {
    font-size: 1.2em;
}
.hotLink span {
    color: #ff3c00;
}
.hotLink .more {
    position: absolute;
    top: 8px;
    right: 6px;
    padding: 8px;
}
.hotLink ol {
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
}
.hotLink li {
    position: relative;
    margin-top: 7px;
    counter-increment: number;
}
.hotLink li::before {
    content: counter(number, decimal);
    padding: 2px 5px;
    background-color: #a1a1a1;
    border-radius: 3px;
    margin-right: 5px;
    color: #fff;
}
.hotLink li:last-child {
    margin-bottom: 2px;
}
.hotLink em {
    float: right;
    width: 8px;
    height: 0;
    padding-top: 12px;
    overflow: hidden;
    background: url(images/rank.png) no-repeat;
}
.hotLink .up {
    background-position: 0 0;;
}
.hotLink .stop {
    background-position: 0 50%;
}
.hotLink .down {
    background-position: 0 100%;
}
/* linkArea 영역 종료 */

